<ons-page style="background-color: black">

	<ul class="topcoat-list">

		<ons-list-item
			class="topcoat-list__item--tappable topcoat-list__item__line-height" 
			ng-click="ons.slidingMenu.toggleMenu(); 
			ons.slidingMenu.setAbovePage('navigator1.html')">
			<i class="fa fa-home fa-lg" style="color: #FFFFFF"></i>
			&nbsp; Home
		</ons-list-item>

		<ons-list-item 
			class="topcoat-list__item--tappable topcoat-list__item__line-height"
			ng-click="ons.slidingMenu.toggleMenu(); 
			ons.slidingMenu.setAbovePage('navigator2.html')">
			<i class="fa fa-music fa-lg" style="color: #FFFFFF"></i>
			&nbsp; Music
		</ons-list-item>

		<ons-list-item 
			class="topcoat-list__item--tappable topcoat-list__item__line-height"
			ng-click="ons.slidingMenu.toggleMenu(); 
			ons.slidingMenu.setAbovePage('navigator3.html')">
			<i class="fa fa-video-camera fa-lg" style="color: #FFFFFF"></i>
			&nbsp; Video
		</ons-list-item>

	</ul>

</ons-page>
